*.blade.php diff=html
*.css linguist-language=none
*.html linguist-language=none
*.md linguist-language=Markdown
*.php linguist-language=PHP

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
